In [735]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report
from catboost import CatBoostClassifier, Pool
from sklearn.utils import shuffle, compute_class_weight
import warnings
import time
from IPython.display import display_html
from itertools import chain,cycle

In [736]:
train = pd.read_csv('train_dataset_train.csv')
test = pd.read_csv('test_dataset_test.csv')
submission = pd.read_csv('sample_submission.csv')

id_language = pd.read_csv('id_language.csv')
id_country = pd.read_csv('id_country.csv')

In [737]:
train.dropna()

,ID,Код_группы,Год_Поступления,Пол,Основания,Изучаемый_Язык,Дата_Рождения,Уч_Заведение,Где_Находится_УЗ,Год_Окончания_УЗ,...,Общежитие,Наличие_Матери,Наличие_Отца,Страна_Родители,Опекунство,Село,Иностранец,КодФакультета,СрБаллАттестата,Статус
0,72716,16019,2015,Жен,ОО,Английский язык,1998-02-08 00:00:00.000,"МБОУ ""СОШ №59""","Алтайский край, Барнаул г",2014.0,...,0.0,0,0.0,Россия,0.0,0.0,0.0,41.0,4.294,3
2,82469,20103,2017,Жен,ДН,Английский язык,1999-03-21 00:00:00.000,МБОУ Алтайская СОШ №5,"Алтайский край, Алтайский р-н, Алтайское с",2017.0,...,0.0,1,1.0,Россия,0.0,0.0,0.0,41.0,4.133,4
3,81661,19838,2017,Жен,БН,Английский язык,1994-12-08 00:00:00.000,ФГБОУ ВО Алтайский государственный университет,"Алтайский край, г. Барнаул",2017.0,...,0.0,1,1.0,Россия,0.0,0.0,0.0,35.0,74.000,4
4,81509,19803,2017,Жен,БН,Английский язык,1995-06-28 00:00:00.000,ФГБОУ ВО Алтайский государственный университет,"Алтайский край, г. Барнаул",2017.0,...,0.0,1,1.0,Россия,0.0,0.0,0.0,28.0,53.000,4
5,72669,18733,2015,Муж,СН,Английский язык,1997-11-13 00:00:00.000,"МБОУ ""СОШ №110""","Алтайский край, Барнаул г",2015.0,...,0.0,0,0.0,Россия,0.0,0.0,0.0,41.0,3.692,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13578,56928,17038,2013,Жен,СН,Английский язык,1989-12-21 00:00:00.000,"Автономная некоммерческая организация ВПО ""Алт...","г. Барнаул, Алтайский край",2011.0,...,0.0,0,0.0,Россия,0.0,0.0,0.0,26.0,51.000,4
13579,74283,17593,2016,Муж,ОО,Английский язык,1998-09-17 00:00:00.000,МБОУ СОШ №98,"Россия, Алтайский край, г Барнаул",2016.0,...,0.0,1,1.0,Россия,0.0,0.0,0.0,34.0,59.000,3
13580,71516,19433,2015,Жен,ОО,Немецкий язык,1997-09-19 00:00:00.000,"МКОУ ""Георгиевская СОШ""","Алтайский край, Ребрихинский р-н, Георгиевка с",2015.0,...,1.0,0,0.0,Россия,0.0,0.0,0.0,26.0,82.000,4
13581,76970,18723,2016,Муж,СН,Английский язык,1998-03-20 00:00:00.000,МБОУ СОШ №113 им. Сергея Семенова,"Россия, Алтайский край, г Барнаул",2016.0,...,0.0,1,1.0,Россия,0.0,0.0,0.0,41.0,3.400,4
13583,80923,19869,2017,Жен,БН,Английский язык,1995-09-06 00:00:00.000,ФГБОУ ВО Алтайский государственный университет,"Алтайский край, г. Барнаул",2017.0,...,1.0,1,1.0,Россия,0.0,0.0,0.0,27.0,73.000,4

In [738]:
train=train.drop(columns=['Дата_Рождения'])
test=test.drop(columns=['Дата_Рождения'])
train.dtypes[train.dtypes == "object"].index.values
mass_object = train.dtypes[train.dtypes == "object"].index.values
#mass_object = np.append(mass_object, "Статус")
train = train.drop(mass_object, axis = 1)
test = test.drop(mass_object, axis = 1)

In [739]:
#корректируем тип данных для корректной отработки модели
def type_cor (data, column):
    for i in column:
        data[i]=data[i].astype('int')
    return data

In [740]:
train = train.fillna(0)
test = test.fillna(0)

column = [
    'ID',
    'Код_группы',
    'Год_Поступления',
    'Год_Окончания_УЗ',
    'Пособие',
    'Общежитие',
    'Наличие_Матери',
    'Наличие_Отца',
    'Опекунство',
    'Село',
    'Иностранец',
    'КодФакультета',
    'СрБаллАттестата',
]
train['Статус']=train['Статус'].astype('int')
#train_2['Пособие']=train_2['Пособие'].astype('int')
#train_2['Наличие_Отца']=train_2['Наличие_Отца'].astype('int')
#train_2['Опекунство']=train_2['Опекунство'].astype('int')

#test_2['Пособие']=test_2['Пособие'].astype('int')
#test_2['Наличие_Отца']=test_2['Наличие_Отца'].astype('int')
#test_2['Опекунство']=test_2['Опекунство'].astype('int')
train = type_cor (train, column)
test = type_cor (test, column)

In [741]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13584 entries, 0 to 13583
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                13584 non-null  int32
 1   Код_группы        13584 non-null  int32
 2   Год_Поступления   13584 non-null  int32
 3   Год_Окончания_УЗ  13584 non-null  int32
 4   Пособие           13584 non-null  int32
 5   Общежитие         13584 non-null  int32
 6   Наличие_Матери    13584 non-null  int32
 7   Наличие_Отца      13584 non-null  int32
 8   Опекунство        13584 non-null  int32
 9   Село              13584 non-null  int32
 10  Иностранец        13584 non-null  int32
 11  КодФакультета     13584 non-null  int32
 12  СрБаллАттестата   13584 non-null  int32
 13  Статус            13584 non-null  int32
dtypes: int32(14)
memory usage: 743.0 KB

In [742]:
X = train.drop(columns=['Статус'])
y = train['Статус']

In [743]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.25, random_state=12345)

In [744]:
#upsampe
def up (features, target):
    a = features[target == -1]
    b = features[target == 3]
    c = features[target == 4] 
    a_1 = target[target == -1]
    b_1 = target[target == 3]
    c_1 = target[target == 4]
    f_up = pd.concat ([a]*80+[b]*10+[c]*8)
    t_up = pd.concat ([a_1]*80+[b_1]*10+[c_1]*8)
    f_up, t_up = shuffle(f_up, t_up, random_state=12345)
    return f_up, t_up
X_train, y_train = up (X_train, y_train)

In [745]:
column_category = [
   'ID',
   'Код_группы',
#    'Год_Поступления',
#    'Пол',
#    'Основания',
#    'Изучаемый_Язык',
#    'Дата_Рождения',
#    'Уч_Заведение',
#    'Где_Находится_УЗ',
#    'Год_Окончания_УЗ',
    'Пособие',
#    'Страна_ПП',
#    'Регион_ПП',
#    'Город_ПП',
    'Общежитие',
    'Наличие_Матери',
    'Наличие_Отца',
#    'Страна_Родители',
    'Село',
    'Иностранец',
    'КодФакультета',
#    'СрБаллАттестата',
#    'Семья',
#    'Ур_образования',
] 
pool_train = Pool(X_train, y_train, cat_features = column_category)
pool_valid = Pool(X_valid, cat_features = column_category)
pool_test_solution = Pool(test, cat_features = column_category)

In [746]:
classes = np.unique(y_train)
weights = compute_class_weight(class_weight='balanced', classes=classes, y=y_train) 
class_weights = dict(zip(classes, weights))

In [747]:
model = CatBoostClassifier(
    task_type='GPU',
    random_state = 12345,
    iterations = 3000,
    learning_rate = 0.1,
    depth = 12,
    loss_function= 'MultiClass',
    eval_metric='TotalF1',
    grow_policy = 'Depthwise',
    min_data_in_leaf = 3000,
#    class_weights = class_weights,
##    average = 'Macro',
    bootstrap_type ='Bernoulli',
##    subsample = 0.8,
##    leaf_estimation_method = 'Newton',
    verbose = 10,
#    classes_count = 3,
    ignored_features = ['ID']#, 'Код_группы']#'Год_Поступления', 'Год_Окончания_УЗ', 'Между_поступлениями', 'Общежитие','Село',
#                        'Изучаемый_Язык','Иностранец','Семья']
    )
model.fit(pool_train, early_stopping_rounds=500, eval_set=(X_valid, y_valid), plot=True, use_best_model=True)

MetricVisualizer(layout=Layout(align_self='stretch', height='500px'))

0:	learn: 0.8999254	test: 0.8551581	best: 0.8551581 (0)	total: 148ms	remaining: 7m 24s
10:	learn: 0.9046103	test: 0.8563982	best: 0.8563982 (10)	total: 1.96s	remaining: 8m 53s
20:	learn: 0.9113437	test: 0.8598730	best: 0.8598730 (20)	total: 3.63s	remaining: 8m 34s
30:	learn: 0.9170090	test: 0.8627065	best: 0.8627738 (29)	total: 5.44s	remaining: 8m 41s
40:	learn: 0.9226723	test: 0.8627824	best: 0.8637639 (36)	total: 7.14s	remaining: 8m 35s
50:	learn: 0.9265228	test: 0.8626273	best: 0.8637639 (36)	total: 8.74s	remaining: 8m 25s
60:	learn: 0.9324657	test: 0.8615891	best: 0.8637639 (36)	total: 10.4s	remaining: 8m 19s
70:	learn: 0.9359732	test: 0.8615555	best: 0.8637639 (36)	total: 11.9s	remaining: 8m 12s
80:	learn: 0.9400065	test: 0.8604241	best: 0.8637639 (36)	total: 13.5s	remaining: 8m 5s
90:	learn: 0.9434242	test: 0.8593937	best: 0.8637639 (36)	total: 15s	remaining: 8m
100:	learn: 0.9447179	test: 0.8604695	best: 0.8637639 (36)	total: 16.3s	remaining: 7m 48s
110:	learn: 0.9466902	test: 0.8612156	best: 0.8637639 (36)	total: 17.7s	remaining: 7m 40s
120:	learn: 0.9488954	test: 0.8611600	best: 0.8637639 (36)	total: 19.1s	remaining: 7m 34s
130:	learn: 0.9504910	test: 0.8604874	best: 0.8637639 (36)	total: 20.5s	remaining: 7m 29s
140:	learn: 0.9531830	test: 0.8629312	best: 0.8637639 (36)	total: 22.2s	remaining: 7m 29s
150:	learn: 0.9551613	test: 0.8633973	best: 0.8637639 (36)	total: 23.7s	remaining: 7m 26s
160:	learn: 0.9569722	test: 0.8634446	best: 0.8637639 (36)	total: 25.1s	remaining: 7m 22s
170:	learn: 0.9579690	test: 0.8631516	best: 0.8637639 (36)	total: 26.5s	remaining: 7m 18s
180:	learn: 0.9602083	test: 0.8621651	best: 0.8637639 (36)	total: 28s	remaining: 7m 16s
190:	learn: 0.9621188	test: 0.8607649	best: 0.8637639 (36)	total: 29.6s	remaining: 7m 15s
200:	learn: 0.9631478	test: 0.8599026	best: 0.8637639 (36)	total: 31s	remaining: 7m 11s
210:	learn: 0.9633768	test: 0.8591133	best: 0.8637639 (36)	total: 32.3s	remaining: 7m 6s
220:	learn: 0.9640444	test: 0.8582207	best: 0.8637639 (36)	total: 33.7s	remaining: 7m 3s
230:	learn: 0.9658368	test: 0.8584335	best: 0.8637639 (36)	total: 35.2s	remaining: 7m 2s
240:	learn: 0.9668630	test: 0.8579271	best: 0.8637639 (36)	total: 36.6s	remaining: 6m 58s
250:	learn: 0.9676032	test: 0.8564814	best: 0.8637639 (36)	total: 38s	remaining: 6m 56s
260:	learn: 0.9682571	test: 0.8571588	best: 0.8637639 (36)	total: 39.4s	remaining: 6m 53s
270:	learn: 0.9687190	test: 0.8586485	best: 0.8637639 (36)	total: 40.9s	remaining: 6m 51s
280:	learn: 0.9692299	test: 0.8580162	best: 0.8637639 (36)	total: 42.2s	remaining: 6m 48s
290:	learn: 0.9698261	test: 0.8586314	best: 0.8637639 (36)	total: 43.6s	remaining: 6m 46s
300:	learn: 0.9706318	test: 0.8577395	best: 0.8637639 (36)	total: 45s	remaining: 6m 43s
310:	learn: 0.9712708	test: 0.8593361	best: 0.8637639 (36)	total: 46.4s	remaining: 6m 41s
320:	learn: 0.9723606	test: 0.8583238	best: 0.8637639 (36)	total: 48.1s	remaining: 6m 41s
330:	learn: 0.9733351	test: 0.8570935	best: 0.8637639 (36)	total: 49.5s	remaining: 6m 39s
340:	learn: 0.9739785	test: 0.8574173	best: 0.8637639 (36)	total: 50.9s	remaining: 6m 36s
350:	learn: 0.9750446	test: 0.8579708	best: 0.8637639 (36)	total: 52.3s	remaining: 6m 34s
360:	learn: 0.9757052	test: 0.8575661	best: 0.8637639 (36)	total: 53.7s	remaining: 6m 32s
370:	learn: 0.9760224	test: 0.8566039	best: 0.8637639 (36)	total: 55.2s	remaining: 6m 31s
380:	learn: 0.9764228	test: 0.8579708	best: 0.8637639 (36)	total: 56.6s	remaining: 6m 29s
390:	learn: 0.9769480	test: 0.8576633	best: 0.8637639 (36)	total: 58s	remaining: 6m 27s
400:	learn: 0.9772720	test: 0.8562818	best: 0.8637639 (36)	total: 59.4s	remaining: 6m 24s
410:	learn: 0.9774974	test: 0.8565112	best: 0.8637639 (36)	total: 1m	remaining: 6m 22s
420:	learn: 0.9777230	test: 0.8565112	best: 0.8637639 (36)	total: 1m 1s	remaining: 6m 19s
430:	learn: 0.9780649	test: 0.8563827	best: 0.8637639 (36)	total: 1m 3s	remaining: 6m 18s
440:	learn: 0.9783493	test: 0.8567567	best: 0.8637639 (36)	total: 1m 4s	remaining: 6m 16s
450:	learn: 0.9787337	test: 0.8563458	best: 0.8637639 (36)	total: 1m 6s	remaining: 6m 14s
460:	learn: 0.9788087	test: 0.8563149	best: 0.8637639 (36)	total: 1m 7s	remaining: 6m 11s
470:	learn: 0.9794923	test: 0.8555953	best: 0.8637639 (36)	total: 1m 8s	remaining: 6m 9s
480:	learn: 0.9796756	test: 0.8554548	best: 0.8637639 (36)	total: 1m 10s	remaining: 6m 7s
490:	learn: 0.9798171	test: 0.8557146	best: 0.8637639 (36)	total: 1m 11s	remaining: 6m 4s
500:	learn: 0.9801834	test: 0.8556365	best: 0.8637639 (36)	total: 1m 12s	remaining: 6m 2s
510:	learn: 0.9804413	test: 0.8568777	best: 0.8637639 (36)	total: 1m 14s	remaining: 6m
520:	learn: 0.9806899	test: 0.8564962	best: 0.8637639 (36)	total: 1m 15s	remaining: 5m 59s
530:	learn: 0.9807569	test: 0.8559438	best: 0.8637639 (36)	total: 1m 16s	remaining: 5m 56s
bestTest = 0.8637639043
bestIteration = 36
Shrink model to first 37 iterations.

In [748]:
pred_valid = model.predict(pool_valid)

In [749]:
model.get_feature_importance(prettified=True)

          Feature Id  Importances
0         Код_группы    96.049424
1    СрБаллАттестата     1.581711
2    Год_Поступления     0.727258
3   Год_Окончания_УЗ     0.589859
4      КодФакультета     0.412578
5         Иностранец     0.227901
6          Общежитие     0.198038
7               Село     0.106611
8     Наличие_Матери     0.095439
9       Наличие_Отца     0.011181
10                ID     0.000000
11           Пособие     0.000000
12        Опекунство     0.000000

In [750]:
print(classification_report(y_valid, pred_valid))

              precision    recall  f1-score   support

          -1       0.39      0.38      0.39       165
           3       0.84      0.81      0.82      1154
           4       0.92      0.93      0.92      2077

    accuracy                           0.86      3396
   macro avg       0.71      0.71      0.71      3396
weighted avg       0.86      0.86      0.86      3396

In [751]:
pred_solution = model.predict(pool_test_solution)

In [752]:
submission["Статус"] = pred_solution

In [753]:
train['Статус'].value_counts()

 4    8249
 3    4721
-1     614
Name: Статус, dtype: int64

In [754]:
submission['Статус'].value_counts()

 4    4126
 3    2204
-1     361
Name: Статус, dtype: int64

In [755]:
submission.to_csv('submission_3.csv')